/*anidamiento o nesting*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr auto 0.18fr;
  grid-template-areas: "header header" "main main" "pie-de-pagina pie-de-pagina";
}
@media screen and (max-width: 950px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "pie-de-pagina";
  }
}

.header {
  grid-area: header;
}
.header .background-nav {
  background-image: linear-gradient(black, darkgrey);
}

.navbar-brand img {
  width: 330px;
  height: 100px;
}

.nav-ul li a {
  font-size: 18px;
  text-transform: uppercase;
}

.nav-link {
  color: white;
}

.footer {
  background-image: linear-gradient(to bottom, darkgrey, black);
  color: aliceblue;
  text-align: center;
  grid-area: pie-de-pagina;
}
.footer .pie-de-pagina {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .pie-de-pagina nav ul {
  font-size: 20px;
  list-style: none;
  font-style: verdana;
  padding-right: 55px;
  margin-top: 15px;
}
.footer .pie-de-pagina nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.footer .pie-de-pagina nav ul li a:hover {
  color: deepskyblue;
  text-shadow: none;
  transition: 1s;
}
@media screen and (max-width: 950px) {
  .footer .pie-de-pagina nav ul li {
    display: inline;
    padding-left: 25px;
  }
}
@media screen and (max-width: 830px) {
  .footer .pie-de-pagina nav ul li {
    display: inline;
    padding-left: 25px;
  }
}
@media screen and (max-width: 950px) {
  .footer .pie-de-pagina nav ul {
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
  }
}
.footer .pie-de-pagina .logo-footer {
  margin-left: 35px;
}
.footer .pie-de-pagina .logo-footer a img {
  height: 80px;
  width: 260px;
}
@media screen and (max-width: 950px) {
  .footer .pie-de-pagina .logo-footer a img {
    width: 160px;
    height: 70px;
  }
}
@media screen and (max-width: 950px) {
  .footer .pie-de-pagina .logo-footer {
    padding-right: 30px;
  }
}
.footer .pie-de-pagina .redes-sociales {
  margin-right: 30px;
  display: flex;
}
.footer .pie-de-pagina .redes-sociales a img {
  display: inline;
  transition: all 1, 5s;
  margin-right: 20px;
}
.footer .pie-de-pagina .redes-sociales a img img {
  margin-left: 15px;
}
.footer .pie-de-pagina .redes-sociales div:hover {
  transform: scale(1.4);
}
@media screen and (max-width: 950px) {
  .footer .pie-de-pagina .redes-sociales {
    padding-left: 15px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 950px) {
  .footer .pie-de-pagina {
    grid-area: pie-de-pagina;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.main {
  grid-area: main;
  width: 100%;
}
.main .hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.304), rgba(0, 0, 0, 0.5)), url(../images/familiafeliz.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .hero-section h1 {
  font-size: 40px;
  text-align: center;
  color: #5fa1bd;
}
.main .hero-section h2 {
  font-size: 25px;
  text-align: right;
  color: #5fa1bd;
}
.main .hero-section p {
  font-size: 18px;
}
@media screen and (max-width: 695px) {
  .main .hero-section {
    background-position: center;
  }
}
.main .productos-destacados {
  background-color: hsla(210deg, 19%, 75%, 0.651);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main .productos-destacados h2 {
  text-align: center;
  padding-top: 18px;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
}
@media screen and (max-width: 950px) {
  .main .productos-destacados h2 {
    font-size: 25px;
  }
}
.main .productos-destacados .imagenes-productos {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 15px;
}
.main .productos-destacados .imagenes-productos a img {
  border-radius: 10px;
  width: 280px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1, 3s;
}
.main .productos-destacados .imagenes-productos a img:hover {
  transform: scale(1.1);
}
.main .productos-destacados .imagenes-productos p {
  width: 280px;
  height: 240px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .main .productos-destacados .imagenes-productos {
    flex-wrap: wrap;
    align-items: center;
  }
}
.main .contacto {
  background-color: hsla(210deg, 19%, 75%, 0.651);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}
.main .contacto h2 {
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
  text-shadow: 1px 1px 1px black;
}
@media screen and (max-width: 950px) {
  .main .contacto h2 {
    padding-bottom: 10px;
    font-size: 25px;
  }
}
.main .contacto .maps-datos {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .contacto .maps-datos iframe {
  border-radius: 15px;
  width: 430px;
  height: 330px;
}
@media screen and (max-width: 950px) {
  .main .contacto .maps-datos iframe {
    width: 315px;
    height: 260px;
  }
}
@media screen and (max-width: 695px) {
  .main .contacto .maps-datos iframe {
    width: 510px;
    height: 500px;
  }
}
.main .contacto .maps-datos div {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.main .contacto .maps-datos div h3 {
  font-size: 25px;
  padding-top: 15px;
}
.main .contacto .maps-datos div p {
  font-size: 20px;
}
@media screen and (max-width: 950px) {
  .main .contacto .maps-datos div {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 695px) {
  .main .contacto .maps-datos {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 950px) {
  .main {
    grid-area: main;
    align-items: center;
  }
}

.main .servicio-hogar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.145), rgba(0, 0, 0, 0.5)), url(/images/img-alarma-hogar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  justify-content: end;
  padding-right: 80px;
  align-items: center;
}
.main .servicio-hogar h1 {
  width: 600px;
  height: 140px;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: 1px 1px 2px #363636;
}
.main .container alarma-dom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 45px;
}
.main .container alarma-dom div {
  width: 480px;
  font-size: 20px;
}
.main .container alarma-dom div img {
  width: 460px;
  height: 310px;
}
.main .container descripcion-hogar {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.main .container descripcion-hogar div {
  width: 83%;
  justify-content: center;
}
.main .container descripcion-hogar div h2 {
  text-align: center;
}
.main .container descripcion-hogar div p {
  font-size: 20px;
  padding-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
