.bg-form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.304), rgba(24, 24, 24, 0.263)), url(../images/bg-formularios.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h1 {
        text-align: center;
        padding-top: 15px;
        color: aliceblue;
        font-size: 35px;
    }

    .pedido-tec {
        background-color: #95bbd377;
        border-radius: 20px;
        border: solid 2px black;
        margin-bottom: 30px;
        margin-top: 20px;

        h2 {
            font-size: 25px;
            padding-top: 10px;
            padding-left: 15px;
            color: aliceblue;
        }

        p {
            font-size: 18px;
            padding: 15px;
            color: aliceblue;
        }

        .form {
            padding-top: 15px;
            padding: 15px;

            .boton-enviar {
                display: flex;
                justify-content: flex-end;

                .boton {
                    width: 160px;
                    height: 40px;
                    color: white;
                    background-color: #61616a;
                    border-radius: 15px;

                    &:hover {
                        background-color: #b9b9c6;
                        color: aliceblue;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 960px) {
        background-position: center;
    }

    @media screen and (max-width: 730px) {
        background-position: center;
    }

    @media screen and (max-width: 650px) {
        background-position: center;
    }

    @media screen and (max-width: 450px) {
        background-position: center;
    }
}