@import'../base/variables';
@import'../base/mapas';

.header {
    grid-area: header;

    .background-nav {
        background-image: map-get($header, bg-header);
    }
}

.navbar-brand img {
    width: map-get($header, size-logo-ancho);
    height: map-get($header, size-logo-alto);

    @media screen and (max-width: 580px) {
        width: 260px;
        height: 60px;
    }
}

.nav-ul li a {
    font-size: map-get($header, font-size);
    text-transform: map-get($header, font-forma);
}

.nav-link {
    color: map-get($header, color-letra);

    &:hover {
        color: deepskyblue;
        text-shadow: none;
        transition: 1s;
    }
}