.main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .servicio-hogar {
        background-image: linear-gradient(rgba(0, 0, 0, 0.145), rgba(0, 0, 0, 0.5)), url(../images/img-alarma-hogar.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 85vh;
        display: flex;
        justify-content: end;
        padding-right: 80px;
        align-items: center;

        h1 {
            width: 600px;
            height: 140px;
            display: flex;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 40px;
            text-transform: uppercase;
            color: whitesmoke;
            text-shadow: 1px 1px 2px #363636;
        }

        @media screen and (max-width: 790px) {
            justify-content: center;
            padding-right: 0px;
        }
    }

    .alarma-dom {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 45px;

        .texto-al-dom {
            width: 480px;
            font-size: 20px;

            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }

        .imagen-al-dom {
            img {
                width: 460px;
                height: 310px;

                @media screen and (max-width: 992px) {
                    width: 100%;
                    height: auto;
                }
            }
        }

        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

    .descripcion-hogar {
        display: flex;
        justify-content: center;
        padding-top: 40px;

        div {
            width: 83%;
            justify-content: center;

            h2 {
                text-align: center;
            }

            p {
                font-size: 20px;
                padding-bottom: 30px;               
            }

            @media screen and (max-width: 992px) {
                width: 100%;
            }
        }
    }
}